/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/style.scss";
@import "@angular/material/prebuilt-themes/purple-green.css";

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.image-dialog-custom-container .mat-dialog-container {
    padding: 0px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.custom-snackbar .mat-simple-snackbar-action {
    color: rgba(15, 73, 219, 1);
}

.success-snackbar {
    background: rgb(7, 187, 7);
}

.fail-snackbar {
    background: #dc3545;
}
