.alarms-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;

    > h1 {
        $font-size: 100px;
        font-size: $font-size;
        line-height: calc(#{$font-size} * 1.15);
        text-align: center;
    }
}
